body {
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

form {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 380px;
}

input {
    background-color: #61B34F;
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    padding: 1.5rem 1rem;
    cursor: pointer;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
}

.container-1, .container-2 {
    display: flex;
}

.clearBtn {
    flex: 1 0 31%;
}

.answer {
    text-align: right;
    /* width: 409px; */
    flex: 1 0 113.5%;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    min-width: 20px;
}

.num-style {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    flex: 1 1 20%;
}

input:focus {
    outline: none;
}

.operand {
    background-color: #83c178;
    color: #3c4f3c;
}

.operand:hover {
    color: white;
}

.bgHover:hover {
    background-color: #83c178;
}